*{
    font-family: sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px;
    margin: 0 10% 0 10%;
    .logo{
        a{
            font-size: 40px;
            color: white;
            text-decoration: none;
        }
    }
    .nav-menu{
        display: flex;
        li{
            list-style: none;
            margin: 14px;
        }
        a{
            color: white;
            text-decoration: none;
        }
    }
    .toggle-menu{
        display: none;
        cursor: pointer;
        span{
            display: block;
            width: 24px;
            height: 4px;
            background-color: white;
            margin: 3px 0;
        }
    }
}
.spotlight{
    background-image: url(../../assets/img/casey-horner-4rDCa5hBlCs-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -20% 0;
    height: 500px;
}
.container{
    max-width: 80%;
    margin: 20% 10% 0 10%;
    padding: 24px;
    display: flex;
    article{
        padding: 14px;
        flex: 2;
        h1, p{
            padding: 0 0 10px;
            text-align: justify;
        }
        p{
            text-indent: 30px;
        }
    }
    aside{
        padding: 14px;
        flex: 1;
        form{
            display: flex;
            padding: 0 0 10px;
            input[type=search], [type=submit] {
                padding: 10px;
            }
            input[type=search]{
                border: 1px solid gray;
            }
            input[type=submit]{
                cursor: pointer;
                color: white;
                background-color: cadetblue;
                border: none;
            }
        }
        section{
            padding: 0 0 10px;
            h4, li, p{
                padding: 0 0 10px; 
            }
            ul{
                padding: 0 20px 10px;
            }
        }
    }
}
footer{
    background-color: cadetblue;
    .row{
        margin: 0 10% 0 10%;
        padding: 38px;
        display: flex;
        .about{
            flex: 2;
            color: white;
            h1, h2, h3, h4, p{
                padding: 0 0 20px;
            }
            a{
                padding: 10px;
                text-decoration: none;
                border: 2px white solid;
                color: white;
            }
            a:hover{
                transition: 0.5s;
                background-color: gray;
            }
        }
        .social-media{
            flex: 1;
            display: flex;
            padding: 20px 0;
            justify-content: flex-end;
            img{
                padding: 10px;
            }
        }
    }
    .copyright{
        border-top: 2px white solid ;
        max-width: 80%;
        margin: 0 10% 0 10%;
        padding: 38px;
        h1, h2, h3, h4, p, a{
            color: white;
        }
    }
}


// 768 breakpoint
@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        padding: 20px 0;
        flex-direction: column;
    }
    nav{
        .logo{
            a{
                font-size: 24px;
                color: white;
                text-decoration: none;
            }
        }
    }
    footer{
        .row{
            max-width: 100%;
            padding: 20px 0;
            flex-direction: column;
            .social-media{
                justify-content: flex-start;
            }
        }
        .copyright{
            max-width: 100%;
            padding: 20px 0;
        }
    }
    
}
// mobile breakpoint
@media screen and (max-width: 600px) {
    nav{
        background-color: cadetblue;
        height: 10%;
        margin: 0;
        .nav-menu{
            position: absolute;
            flex-direction: column;
            align-items: center;
            background-color: rgb(95, 158, 160);
            right: 100%;
            top: 11%;
            width: 100%;
            height: 100%;
            transition: 0.5s;
            li{
                padding: 20px 0;
            }
        }
        .nav-active{
            right: 0%;
        }
        .toggle-menu{
            display: block;
        }
    }
    .spotlight{
        display: none;
    }
    .container{
        margin: 0;
        
        article{
            p{
                text-align: left;
            }
        }
    }
}