* {
  font-family: sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px;
  margin: 0 10% 0 10%;
}
nav .logo a {
  font-size: 40px;
  color: white;
  text-decoration: none;
}
nav .nav-menu {
  display: flex;
}
nav .nav-menu li {
  list-style: none;
  margin: 14px;
}
nav .nav-menu a {
  color: white;
  text-decoration: none;
}
nav .toggle-menu {
  display: none;
  cursor: pointer;
}
nav .toggle-menu span {
  display: block;
  width: 24px;
  height: 4px;
  background-color: white;
  margin: 3px 0;
}

.spotlight {
  background-image: url(../../assets/img/casey-horner-4rDCa5hBlCs-unsplash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -20% 0;
  height: 500px;
}

.container {
  max-width: 80%;
  margin: 20% 10% 0 10%;
  padding: 24px;
  display: flex;
}
.container article {
  padding: 14px;
  flex: 2;
}
.container article h1, .container article p {
  padding: 0 0 10px;
  text-align: justify;
}
.container article p {
  text-indent: 30px;
}
.container aside {
  padding: 14px;
  flex: 1;
}
.container aside form {
  display: flex;
  padding: 0 0 10px;
}
.container aside form input[type=search], .container aside form [type=submit] {
  padding: 10px;
}
.container aside form input[type=search] {
  border: 1px solid gray;
}
.container aside form input[type=submit] {
  cursor: pointer;
  color: white;
  background-color: cadetblue;
  border: none;
}
.container aside section {
  padding: 0 0 10px;
}
.container aside section h4, .container aside section li, .container aside section p {
  padding: 0 0 10px;
}
.container aside section ul {
  padding: 0 20px 10px;
}

footer {
  background-color: cadetblue;
}
footer .row {
  margin: 0 10% 0 10%;
  padding: 38px;
  display: flex;
}
footer .row .about {
  flex: 2;
  color: white;
}
footer .row .about h1, footer .row .about h2, footer .row .about h3, footer .row .about h4, footer .row .about p {
  padding: 0 0 20px;
}
footer .row .about a {
  padding: 10px;
  text-decoration: none;
  border: 2px white solid;
  color: white;
}
footer .row .about a:hover {
  transition: 0.5s;
  background-color: gray;
}
footer .row .social-media {
  flex: 1;
  display: flex;
  padding: 20px 0;
  justify-content: flex-end;
}
footer .row .social-media img {
  padding: 10px;
}
footer .copyright {
  border-top: 2px white solid;
  max-width: 80%;
  margin: 0 10% 0 10%;
  padding: 38px;
}
footer .copyright h1, footer .copyright h2, footer .copyright h3, footer .copyright h4, footer .copyright p, footer .copyright a {
  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 20px 0;
    flex-direction: column;
  }

  nav .logo a {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }

  footer .row {
    max-width: 100%;
    padding: 20px 0;
    flex-direction: column;
  }
  footer .row .social-media {
    justify-content: flex-start;
  }
  footer .copyright {
    max-width: 100%;
    padding: 20px 0;
  }
}
@media screen and (max-width: 600px) {
  nav {
    background-color: cadetblue;
    height: 10%;
    margin: 0;
  }
  nav .nav-menu {
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    right: 100%;
    top: 11%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  nav .nav-menu li {
    padding: 20px 0;
  }
  nav .nav-active {
    right: 0%;
  }
  nav .toggle-menu {
    display: block;
  }

  .spotlight {
    display: none;
  }

  .container {
    margin: 0;
  }
  .container article p {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
